{% extends "base.html.twig" %}

{% block title %}Entreprise{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-6">
            <a href="index.php?page=rechercherEntreprise" class="btn btn-primary w-100">Rechercher une entreprise</a>
        </div>
        <div class="col-md-6">
            <a href="index.php?page=ajouterEntreprise" class="btn btn-primary w-100 mx-1">Ajouter une entreprise</a>
        </div>
    </div>
    <table class="table table-hover table-striped-columns table-bordered">
        <thead>
            {% set columns = ["Opération", "Entreprise", "Adresse", "Responsable", "Site Web", "Spécialités"] %}
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for entreprise in entreprises %}
                <tr data-aos="fade-up">
                    <td class="text-center">
                        <a href="index.php?page=voirEntreprise&id={{ entreprise.getNumero() }}"><i class="fa-solid fa-eye fa-2xl"></i></a>
                        <a href="index.php?page=inscription&id={{ entreprise.getNumero() }}"><i class="fa-solid fa-handshake fa-2xl"></i></a>
                        {% if prof %}
                            <a href="index.php?page=editEntreprise&id={{ entreprise.getNumero() }}"><i class="fa-solid fa-pen fa-2xl"></i></a>
                            <a href="index.php?page=supprEntreprise&id={{ entreprise.getNumero() }}"><i class="fa-solid fa-trash fa-2xl"></i></a>
                        {% endif %}
                    </td>
                    <td>{{ entreprise.getRaisonSociale() }}</td>
                    <td>{{ entreprise.getRue() }}</td>
                    <td>{{ entreprise.getNomResponsable() }}</td>
                    <td class="text-center">
                    {% if entreprise.getLienSite() %}
                        <a href={{ entreprise.getLienSite() }} target="_blank"><i class="fa-solid fa-square-arrow-up-right fa-2xl"></i></a>
                    {% endif %}
                    </td>
                    <td>
                        {% for spe in entreprise.getSpecialites() %}
                            {{ loop.last ? spe.getNom() : spe.getNom() ~ ", " }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}