{% extends "base.html.twig" %}

{% block title %}
    Stagiaires
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Stagiaires</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8 offset-2 my-2 my-md-0">
                <a href="index.php?page=ajouterStagiaire" class="btn btn-info w-100">Ajouter un stagiaire</a>
            </div>
        </div>
        <table class="table table-hover table-striped-columns table-bordered" id="stagiairesTable">
            <thead>
                {% set columns = ["Opération", "Étudiant", "Entreprise", "Professeur"] %}
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% set precId = -1 %}
                {% for stage in stages|sort((a, b) => a.getStagiaire().getNom() <=> b.getStagiaire().getNom()) %}
                    {% if precId != stage.getStagiaire().getNumero() %}
                        <tr>
                            <td class="text-center">
                                <a href="index.php?page=voirStagiaire&id={{ stage.getStagiaire().getNumero() }}"><i class="fa-solid fa-eye fa-2xl"></i></a>
                                {% if prof %}
                                    <a href="index.php?page=editStagiaire&id={{ stage.getStagiaire().getNumero() }}"><i class="fa-solid fa-pen fa-2xl"></i></a>
                                    <a href="index.php?page=supprStagiaire&id={{ stage.getStagiaire().getNumero() }}"><i class="fa-solid fa-trash fa-2xl"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                {{ stage.getStagiaire().getPrenom() ~ " " ~ stage.getStagiaire().getNom() }}
                            </td>
                    {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                        
                    {% endif %}
                        <td>
                            {{ stage.getEntreprise().getRaisonSociale() }}
                        </td>
                        <td>
                            {{ stage.getProfesseur().getPrenom() ~ " " ~ stage.getProfesseur().getNom() }}
                        </td>
                    </tr>
                    {% set precId = stage.getStagiaire().getNumero() %}
                {% endfor %}

				{% for etudiant in etudiants_non_stagiaires|sort((a, b) => a.getNom() <=> b.getNom()) %}
                    <tr>
                        <td class="text-center">
                            <a href="index.php?page=voirStagiaire&id={{ etudiant.getNumero() }}"><i class="fa-solid fa-eye fa-2xl"></i></a>
                            {% if prof %}
                                <a href="index.php?page=editStagiaire&id={{ etudiant.getNumero() }}"><i class="fa-solid fa-pen fa-2xl"></i></a>
                                <a href="index.php?page=supprStagiaire&id={{ etudiant.getNumero() }}"><i class="fa-solid fa-trash fa-2xl"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {{ etudiant.getPrenom() ~ " " ~ etudiant.getNom() }}
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            
    </div>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.8/r-3.0.3/datatables.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let table = new DataTable('#stagiairesTable', {
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/2.2.0/i18n/fr-FR.json',
                },
            });
        });
    </script>
{% endblock %}