{% extends "base.html.twig" %}

{% block title %}
    Stagiaires
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Stagiaires</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <a href="#" class="btn btn-primary w-100">Rechercher un stagiaire</a>
            </div>
            <div class="col-md-6">
                <a href="index.php?page=ajouterStagiaire" class="btn btn-primary w-100">Ajouter un stagiaire</a>
            </div>
        </div>
        <table class="table table-hover table-striped-columns table-bordered">
            <thead>
                {% set columns = ["Opération", "Étudiant", "Entreprise", "Professeur"] %}
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% set precId = -1 %}
                {% for stage in stages|sort((a, b) => a.getStagiaire().getNom() <=> b.getStagiaire().getNom()) %}
                    {% if precId != stage.getStagiaire().getNumero() %}
                        <tr data-aos="fade-up">
                            <td class="text-center">
                                <a href="index.php?page=voirStagiaire&id={{ stage.getStagiaire().getNumero() }}"><i class="fa-solid fa-eye fa-2xl"></i></a>
                                {% if prof %}
                                    <a href="index.php?page=editStagiaire&id={{ stage.getStagiaire().getNumero() }}"><i class="fa-solid fa-pen fa-2xl"></i></a>
                                    <a href="index.php?page=stagiaires&id={{ stage.getStagiaire().getNumero() }}"><i class="fa-solid fa-trash fa-2xl"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                {{ stage.getStagiaire().getPrenom() ~ " " ~ stage.getStagiaire().getNom() }}
                            </td>
                    {% else %}
                        <tr data-aos="fade-up">
                            <td></td>
                            <td></td>
                        
                    {% endif %}
                        <td>
                            {{ stage.getEntreprise().getRaisonSociale() }}
                        </td>
                        <td>
                            {{ stage.getProfesseur().getPrenom() ~ " " ~ stage.getProfesseur().getNom() }}
                        </td>
                    </tr>
                    {% set precId = stage.getStagiaire().getNumero() %}
                {% endfor %}

				{% for etudiant in etudiants_non_stagiaires|sort((a, b) => a.getNom() <=> b.getNom()) %}
                    <tr data-aos="fade-up">
                        <td class="text-center">
                            <a href="index.php?page=voirStagiaire&id={{ etudiant.getNumero() }}"><i class="fa-solid fa-eye fa-2xl"></i></a>
                            {% if prof %}
                                <a href="index.php?page=editStagiaire&id={{ etudiant.getNumero() }}"><i class="fa-solid fa-pen fa-2xl"></i></a>
                                <a href="index.php?page=stagiaires&id={{ etudiant.getNumero() }}"><i class="fa-solid fa-trash fa-2xl"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {{ etudiant.getPrenom() ~ " " ~ etudiant.getNom() }}
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            
    </div>
{% endblock %}