{% extends "base.html.twig" %}

{% block title %}Visualisation de {{ entreprise.getRaisonSociale() }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ entreprise.getRaisonSociale() }}</h5>
        </div>
        <div class="card-body">
            <p><strong>Adresse :</strong> {{ entreprise.getRue() }}</p>
            <p><strong>Code postal :</strong> {{ entreprise.getCodePostal() }}</p>
            <p><strong>Ville :</strong> {{ entreprise.getVille() }}</p>
            <p><strong>Téléphone :</strong> {{ entreprise.getTelephone() }}</p>
            <p><strong>Email :</strong> {{ entreprise.getEmail() }}</p>
            <p><strong>Activité :</strong> {{ entreprise.isEnActivite() }}</p>
            {% if entreprise.getObservations() %}
                <p><strong>Observations : </strong> {{ entreprise.getObservations() }}</p>
            {% endif %}
            <p><strong>Nom du contact :</strong> {{ entreprise.getNomContact() }}</p>
            {% if entreprise.getNomResponsable() %}
                <p><strong>Nom du responsable :</strong> {{ entreprise.getNomResponsable() }}</p>
            {% endif %}
            <p class="mb-0"><strong>Spécialités :</strong></p>
            <ul>
                {% for specialite in entreprise.getSpecialites() %}
                    <li>{{ specialite.getNom() }}</li>
                {% endfor %}
            </ul>
            <p class="mb-0"><strong>Niveau recherché :</strong></p>
            <ul>
                {% for niveau in  entreprise.getNiveauEtude()|split('/')%}
                    <li>{{ niveau }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            <a href="index.php?page=entreprises" class="btn btn-primary">Retour à la liste</a>
            {% if entreprise.getLienSite() %}
                <a href="{{ entreprise.getLienSite() }}" class="btn btn-primary">Site web </a>
            {% endif %}
        </div>
    </div>
{% endblock %}