{% extends 'base.html.twig' %}

{% block title %}Visualisation de {{ stagiaire.getPrenom() }} {{ stagiaire.getNom() }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ stagiaire.getPrenom() }} {{ stagiaire.getNom() }}</h5>
        </div>
        <div class="card-body">
            <p><strong>Login :</strong> {{ stagiaire.getLogin() }}</p>
            {% if annee %}
                <p><strong>Année d'obtention du diplôme :</strong> {{ annee }}</p>
            {% endif %}
            <p><strong>En activité :</strong> {{ stagiaire.isActivite() ? "Oui" : "Non" }}</p>
            <p><strong>Classe :</strong> {{ stagiaire.getClasse().getNom() }}</p>
        </div>
        <div class="card-footer">
            <a href="index.php?page=stagiaires" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>
{% endblock %}