{% extends 'base.html.twig' %}

{% block title %}Visualisation de {{ professeur.getPrenom() }} {{ professeur.getNom() }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ professeur.getPrenom() }} {{ professeur.getNom() }}</h5>
        </div>
        <div class="card-body">
            <p><strong>Login :</strong> {{ professeur.getLogin() }}</p>
            <p><strong>Email :</strong> {{ professeur.getEmail() }}</p>
        </div>
        <div class="card-footer">
            <p><strong>Classe principale : </strong>{{ classes.getClassePrincipale().getNom() }}</p>
            <p><strong>Classes :</strong></p>
            <ul>
                {% for classe in classes.getClasses() %}
                    <li>{{ classe.getNom() }}</li>
                {% endfor %}
            </ul> 
        </div>
    </div>
{% endblock %}